@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url(./fonts/Rubik-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  src: local("Rubik"), url(./fonts/Rubik-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  src: local("Rubik"), url(./fonts/Rubik-Bold.ttf) format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Rubik;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

button {
  border: none;
  outline: none;
}
